$max-width: 960px;

#header-image {
  max-width: $max-width;
  position: absolute;
  z-index: -1;
}

#header-text {
  text-align: center;

  h2, h5 {
    @extend .text-white;
    @extend .background-highlight1;

    display: inline-block;
    padding: 0 2rem;
  }

}

.centered-max {
  display: block;
  max-width: $max-width;
  margin: auto;
}

.nav, .footer {

  .menu {
    @extend .centered-max;
  }

}